.background-tertiary {
  background-color: #d3f9e9;
}

.position-fixed {
  position: fixed;
}

.dropdown-toggle::after {
  display: none;
}

.column-first {
  max-width: 85px;
  margin-right: 16px;
}


.number-box {
  width: 70px;
  height: 100px;
}

.full-width {
  width: -webkit-fill-available;
}

.text-tertiary {
  color: #6328e0;
}

.place-content-center {
  place-content: center;
}

.text-tertiary:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.width-fit-content {
  width: fit-content;
}

.accordion-button.test::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  background: white;
}

.accordion-item:first-of-type {
  border-radius: 0;
}

.accordion-item:last-of-type {
  border-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.image-box {
  max-height: 600px;
}

.align-self-end {
  align-self: end;
}

.image-box-container {
  margin-bottom: 100px;
}

.max-height {
  max-height: 600px;
}

.heart-box {
  top: 8px;
  right: 0px;
}

.deal-box {
  bottom: 125px;
  left: 0px;
  font-size: 12px;
  padding: 6px;
}

.deal-part {
  background-color: #d9000c;
}

.deal-container {
  max-width: 300px;
}


.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.arrow-icon {
  top: 350px;
  right: 1870px;
  height: fit-content;
  padding: 8px;
}


@media (min-width: 1000px) {
  .ps-lg-custom {
    padding-left: 320px;
  }

  .detail-view {
    position: sticky;
  }

  .column-three {
    max-width: 40%;
    margin-left: 100px;
  }
}

.h-100-vh {
  height: 100vh;
}

.border-right-0 {
  border-right: 0;
}

.border-left-0 {
  border-left: 0;
}

.button-padding {
  padding: 12px;
}

.margin-margin {
  margin-right: 340px;
  margin-left: 340px;
}

.container-test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scroll-container {
  overflow: hidden;
  position: relative;
}

.scrollable-thumbnails {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 10px;
  scroll-behavior: smooth;
  padding: 10px 0;
}


.scrollable-thumbnails::-webkit-scrollbar {
  display: none;
}

.scrollable-thumbnails {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-thumbnails {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
}

.similar-products h3 {
  font-size: 14px;
}

.similar-products p {
  font-size: 12px;

}


.form-check-input {
  width: 24px;
  height: 24px;
}


.form-check-input:checked {
  background-color: black;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

td {
  width: 304px;
  height: 24px;
  padding: 0;
  text-align: left;
  border: none;
  padding: 0 8px 12px 8px;
}

td:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.newsletter-section {
  background-color: #efeff0;
  padding-top: 24px;
}

.newsletter-section .bg-white .border {
  padding: 4px 8px 4px 8px;
  font-size: 12px;
}

.newsletter-section h4 {
  font-size: 16px;
}

.newsletter-section i {
  font-size: 12px;
  font-style: normal;
  line-height: 1;
}

.width-max-content {
  width: max-content;
}